## Imports

In [119]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
import os
import sqlite3

## Data Viewing and Processing

In [147]:
db_path = '/Users/daniellarson/Desktop/Code/Projects/dodgers_injtrkr/data/dodgers_injury_db.sqlite'
conn = sqlite3.connect(db_path)

In [ ]:
# Set up your DB path
base_dir = '/Users/daniellarson/Desktop/Code/Projects/dodgers_injtrkr'
db_path = os.path.join(base_dir, 'data', 'dodgers_injury_db.sqlite')

# Connect and load data
with sqlite3.connect(db_path) as conn:
    
    # Load the 'players' table
    pdf = pd.read_sql_query('SELECT * FROM players', conn)
    
    # Load the 'injuries' table
    idf = pd.read_sql_query('SELECT * FROM injuries', conn)

## The Players table

In [134]:
pdf.columns

Index(['mlb_player_id', 'name', 'position', 'team', 'dob', 'bats', 'throws',
       'weight', 'href'],
      dtype='object')

In [133]:
query = 'SELECT * FROM players'
pd.read_sql_query(query, conn).head()

,mlb_player_id,name,position,team,dob,bats,throws,weight,href
0,472610,Luis García,None,Los Angeles Dodgers,01/30/1987,R,R,240,/player/472610
1,477132,Clayton Kershaw,None,Los Angeles Dodgers,03/19/1988,L,L,225,/player/477132
2,489446,Kirby Yates,None,Los Angeles Dodgers,03/25/1987,L,R,205,/player/489446
3,500743,Miguel Rojas,None,Los Angeles Dodgers,02/24/1989,R,R,188,/player/500743
4,518692,Freddie Freeman,None,Los Angeles Dodgers,09/12/1989,L,R,220,/player/518692

In [122]:
# Now query it
query = 'SELECT * FROM players'
df = pd.read_sql_query(query, conn)
print(df.head(20))

    mlb_player_id               name position                 team  \
0          472610        Luis García     None  Los Angeles Dodgers
1          489446        Kirby Yates     None  Los Angeles Dodgers
2          500743       Miguel Rojas     None  Los Angeles Dodgers
3          518692    Freddie Freeman     None  Los Angeles Dodgers
4          571771  Enrique Hernández     None  Los Angeles Dodgers
5          571970          Max Muncy     None  Los Angeles Dodgers
6          605131      Austin Barnes     None  Los Angeles Dodgers
7          605141       Mookie Betts     None  Los Angeles Dodgers
8          607455      Anthony Banda     None  Los Angeles Dodgers
9          621035       Chris Taylor     None  Los Angeles Dodgers
10         623465      Evan Phillips     None  Los Angeles Dodgers
11         624424   Michael Conforto     None  Los Angeles Dodgers
12         656420    J.P. Feyereisen     None  Los Angeles Dodgers
13         656945       Tanner Scott     None  Los Angeles Dodgers
14         660271      Shohei Ohtani     None  Los Angeles Dodgers
15         664062      Tony Gonsolin     None  Los Angeles Dodgers
16         669160         Dustin May     None  Los Angeles Dodgers
17         669257         Will Smith     None  Los Angeles Dodgers
18         676263        Jack Dreyer     None  Los Angeles Dodgers
19         676508      Ben Casparius     None  Los Angeles Dodgers

           dob bats throws  weight            href
0   01/30/1987    R      R     240  /player/472610
1   03/25/1987    L      R     205  /player/489446
2   02/24/1989    R      R     188  /player/500743
3   09/12/1989    L      R     220  /player/518692
4   08/24/1991    R      R     195  /player/571771
5   08/25/1990    L      R     215  /player/571970
6   12/28/1989    R      R     187  /player/605131
7   10/07/1992    R      R     180  /player/605141
8   08/10/1993    L      L     221  /player/607455
9   08/29/1990    R      R     196  /player/621035
10  09/11/1994    R      R     215  /player/623465
11  03/01/1993    L      R     215  /player/624424
12  02/07/1993    R      R     215  /player/656420
13  07/22/1994    R      L     235  /player/656945
14  07/05/1994    L      R     210  /player/660271
15  05/14/1994    R      R     205  /player/664062
16  09/06/1997    R      R     180  /player/669160
17  03/28/1995    R      R     195  /player/669257
18  02/27/1999    R      L     205  /player/676263
19  02/11/1999    R      R     215  /player/676508

## Injuries Table

In [146]:
idf.columns

Index(['injury_id', 'mlb_player_id', 'injury_type', 'il_type', 'injury_start',
       'injury_end', 'notes'],
      dtype='object')

In [148]:
pd.read_sql_query('SELECT * FROM injuries', conn).head(10)

,injury_id,mlb_player_id,injury_type,il_type,injury_start,injury_end,notes
0,1,606192,Left groin strain,May 6,None,TBD,An MRI revealed a Grade 1 adductor strain; man...
1,2,669242,Right ankle inflammation,"May 3 (10-day IL, retroactive to April 30)",None,Possibly May 13-15,"Resumed running on May 6, per manager Dave Rob..."
2,3,656629,Right shoulder impingement,March 18 (60-day IL),None,May,Has resumed facing hitters and is expected to ...
3,4,477132,Recovery from left toe and left knee surgeries,March 18 (60-day IL),None,"Mid- to late May, at earliest",Completed five innings on 66 pitches for Tripl...
4,5,660271,Recovery from right elbow and left shoulder su...,,None,TBD as a pitcher,Threw his second bullpen session since going o...
5,6,595014,Right forearm sprain,April 19 (60-day IL),None,June at earliest,Imaging revealed a low-grade sprain; has not r...
6,7,607192,Right shoulder inflammation,April 28 (15-day IL),None,TBD,Exited his April 27 start before throwing a pi...
7,8,605483,Left shoulder inflammation,"April 6 (15-day IL, retroactive to April 3)",None,May,Shut down from throwing after feeling unwell a...
8,9,683618,Left metatarsal fracture,March 18 (60-day IL),None,Late May at earliest,Sustained a non-baseball injury and was not re...
9,10,669165,Recovery from Tommy John surgery,March 18 (60-day IL),None,Late 2025 at earliest,Underwent Tommy John surgery last July; has re...

## New Name and Injuries dataset.

In [ ]:

# Open a new DB connection
db_path = '/Users/daniellarson/Desktop/Code/Projects/dodgers_injtrkr/data/dodgers_injury_db.sqlite'
conn = sqlite3.connect(db_path)

# Your SQL query
query = '''
SELECT players.name, injuries.*
FROM players
JOIN injuries ON players.mlb_player_id = injuries.mlb_player_id
'''

# Run query while the DB is open
names_injuries = pd.read_sql_query(query, conn)

# Close the connection AFTER reading

In [152]:
# See the column names
print(names_injuries.columns)

Index(['name', 'injury_id', 'mlb_player_id', 'injury_type', 'il_type',
       'injury_start', 'injury_end', 'notes'],
      dtype='object')

In [150]:
# See the first few rows
names_injuries.head()

,name,injury_id,mlb_player_id,injury_type,il_type,injury_start,injury_end,notes
0,Teoscar Hernández,1,606192,Left groin strain,May 6,None,TBD,An MRI revealed a Grade 1 adductor strain; man...
1,Tommy Edman,2,669242,Right ankle inflammation,"May 3 (10-day IL, retroactive to April 30)",None,Possibly May 13-15,"Resumed running on May 6, per manager Dave Rob..."
2,Michael Kopech,3,656629,Right shoulder impingement,March 18 (60-day IL),None,May,Has resumed facing hitters and is expected to ...
3,Clayton Kershaw,4,477132,Recovery from left toe and left knee surgeries,March 18 (60-day IL),None,"Mid- to late May, at earliest",Completed five innings on 66 pitches for Tripl...
4,Shohei Ohtani,5,660271,Recovery from right elbow and left shoulder su...,,None,TBD as a pitcher,Threw his second bullpen session since going o...

In [165]:

# Filter only certain columns
names_injuries[['name', 'injury_type', 'injury_start']].head(10)

,name,injury_type,injury_start
0,Teoscar Hernández,Left groin strain,None
1,Tommy Edman,Right ankle inflammation,None
2,Michael Kopech,Right shoulder impingement,None
3,Clayton Kershaw,Recovery from left toe and left knee surgeries,None
4,Shohei Ohtani,Recovery from right elbow and left shoulder su...,None
5,Blake Treinen,Right forearm sprain,None
6,Tyler Glasnow,Right shoulder inflammation,None
7,Blake Snell,Left shoulder inflammation,None
8,Edgardo Henriquez,Left metatarsal fracture,None
9,Kyle Hurt,Recovery from Tommy John surgery,None

In [164]:
# Filter rows (example: only active injuries)
active_injuries = names_injuries[names_injuries['injury_end'].isnull()]

active_injuries.head()

,name,injury_id,mlb_player_id,injury_type,il_type,injury_start,injury_end,notes
28,Emmet Sheehan,29,686218,Recovery from Tommy John surgery,None,None,None,None
30,Brusdar Graterol,31,660813,None,None,None,None,None
31,River Ryan,32,689981,None,None,None,None,None
32,Gavin Stone,33,694813,None,None,None,None,None
33,Teoscar Hernández,34,606192,None,None,None,None,None

In [ ]:
# All active injuries

all_active_injuries = active_injuries[:] 

all_active_injuries

,name,injury_id,mlb_player_id,injury_type,il_type,injury_start,injury_end,notes
28,Emmet Sheehan,29,686218,Recovery from Tommy John surgery,None,None,None,None
30,Brusdar Graterol,31,660813,None,None,None,None,None
31,River Ryan,32,689981,None,None,None,None,None
32,Gavin Stone,33,694813,None,None,None,None,None
33,Teoscar Hernández,34,606192,None,None,None,None,None
34,Tommy Edman,35,669242,None,None,None,None,None
35,Michael Kopech,36,656629,None,None,None,None,None

## Close Database

In [ ]:
conn.close()